<h2>Add Two Numbers</h2>
<form method="post" action="/maths">
  <input type="number" name="left" value="0" required>
  
  <input type="number" name="right" value="0" step="any" required>
  <button id="link-akone" name="mathbuts" value="+">+</button>
  <button id="link-akone" name="mathbuts" value="-">-</button>
  <button id="link-akone" name="mathbuts" value="/">/</button>
  <button id="link-akone" name="mathbuts" value="*">*</button>
  <button id="link-akone" name="mathbuts" value="%">%</button>
  <button id="link-akone" name="mathbuts" value="^">^</button>
 
  
 
  
  
 
</form> 
